<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<!-- Шапка -->

<div class="container-fluid">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <h3 class="navbar-brand col-md-3 col-lg-2 mr-0 px-4"><span id="admin-header"></span></h3>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <nav class="navbar navbar-dark bg-dark">
                    <a style="color: gray" class="nav-link" href="/logout">Logout</a>
                </nav>
            </li>
        </ul>
    </nav>

    <!-- Левая навигация -->
    <div class="row">
        <div class="col-2">
            <br>
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                       role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" id="v-pills-tabContent">

                <!-- Admin panel -->
                <br>
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="page-header">
                        <h1>Admin panel</h1>
                    </div>

                    <!-- Верхняя навигация -->

                    <div class="nav nav-tabs" id="myTab" role="tablist">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home" type="button" role="tab"
                                aria-controls="home" aria-selected="true">Users table
                        </button>
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                aria-selected="false">New User
                        </button>
                    </div>

                    <div class="tab-content" id="myTabContent">

                        <!-- Все юзеры -->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body">
                                    <table class="table table-striped align-middle" id="mainTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="my-table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Модальное окно Edit -->
                        <div class="modal fade" id="modalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="formEdit">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">Edit user</h1>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>

                                        <div class="modal-body text-center">

                                            <fieldset disabled>
                                                <div class="mb-3">
                                                    <label for="edit_id" class="col-form-label"><strong>ID</strong>
                                                        <input type="text" class="form-control"
                                                               id="edit_id" readonly/>
                                                    </label>
                                                </div>
                                            </fieldset>

                                            <div class="mb-3">
                                                <label for="edit_username"
                                                       class="col-form-label"><strong>Username</strong>
                                                    <input type="text" class="form-control"
                                                           id="edit_username" name="username"/>
                                                </label>
                                            </div>

                                            <div class="mb-3">
                                                <label for="edit_age"
                                                       class="col-form-label"><strong>Age</strong>
                                                    <input type="number" class="form-control"
                                                           id="edit_age" name="age"/>
                                                </label>
                                            </div>

                                            <div class="mb-3">
                                                <label for="edit_email" class="col-form-label"><strong>Email</strong>
                                                    <input type="email" class="form-control"
                                                           id="edit_email" name="email"/>
                                                </label>
                                            </div>

                                            <div class="mb-3">
                                                <label for="edit_password"
                                                       class="col-form-label"><strong>Password</strong>
                                                    <input type="password" class="form-control"
                                                           id="edit_password" name="password"/>
                                                </label>
                                            </div>

                                            <div>
                                                <label class="container-fluid col-6"
                                                       for="rolesForEditing"><strong>Role</strong>
                                                    <select multiple class="form-select" size="2" id="rolesForEditing"
                                                            name="roles">
                                                        <option id="roleUser" value="USER">USER</option>
                                                        <option id="roleAdmin" value="ADMIN">ADMIN</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    id="editCloseBtn">Close
                                            </button>
                                            <button type="button" class="btn btn-primary" id="editBtn"
                                                    onclick="editUser()">Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Модальное окно Delete -->
                        <div class="modal fade" id="modalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="formDelete">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5">Delete user</h1>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Закрыть"></button>
                                        </div>

                                        <div class="modal-body text-center">
                                            <fieldset disabled>
                                                <div class="mb-3">
                                                    <label for="delete_id" class="col-form-label"><strong>ID</strong>
                                                        <input type="text" class="form-control"
                                                               id="delete_id" readonly/>
                                                    </label>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="delete_username"
                                                           class="col-form-label"><strong>Username</strong>
                                                        <input type="text" class="form-control"
                                                               id="delete_username"/>
                                                    </label>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="delete_age"
                                                           class="col-form-label"><strong>Age</strong>
                                                        <input type="number" class="form-control"
                                                               id="delete_age"/>
                                                    </label>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="delete_email"
                                                           class="col-form-label"><strong>Email</strong>
                                                        <input type="email" class="form-control"
                                                               id="delete_email"/>
                                                    </label>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="delete_password"
                                                           class="col-form-label"><strong>Password</strong>
                                                        <input type="password" class="form-control"
                                                               id="delete_password"/>
                                                    </label>
                                                </div>

                                                <div>
                                                    <label class="container-fluid col-6"
                                                           for="rolesForDeleting"><strong>Role</strong>
                                                        <select multiple class="form-control" size="2"
                                                                id="rolesForDeleting"
                                                                name="delete_roles">
                                                            <option id="deleteRoleUser" value="USER">USER</option>
                                                            <option id="deleteRoleAdmin" value="ADMIN">ADMIN</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    id="deleteCloseBtn">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger" id="deleteBtn"
                                                    onclick="deleteUser()">Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Добавление нового юзера -->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body">
                                    <div class="container mt-2 col-sm-4 text-center">
                                        <form id="formForNewUser" name="formForNewUser">

                                            <div class="mb-3">
                                                <label for="create_username"
                                                       class="font-weight-bold"><strong>Username</strong></label>
                                                <input type="text" class="form-control"
                                                       id="create_username" name="username"
                                                       required>

                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <label for="create_age"
                                                       class="font-weight-bold"><strong>Age</strong></label>
                                                <input type="number" class="form-control"
                                                       id="create_age" name="age" required>
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <label for="create_email"
                                                       class="font-weight-bold"><strong>Email</strong></label>
                                                <input type="email" class="form-control"
                                                       id="create_email" name="email" required>
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <label for="create_password"
                                                       class="font-weight-bold"><strong>Password</strong></label>
                                                <input type="password" class="form-control"
                                                       id="create_password" name="password">
                                            </div>
                                            <br>
                                            <div>
                                                <label class="container-fluid col-6"
                                                       for="rolesForCreate"><strong>Role</strong>
                                                    <select multiple class="form-control" size="2" id="rolesForCreate"
                                                            name="create_roles">
                                                        <option id="createRoleUser" value="USER">USER</option>
                                                        <option id="createRoleAdmin" value="ADMIN">ADMIN</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <br>
                                            <button type="submit" id="addButton" class="btn btn-success btn-lg"
                                                    form="formForNewUser">Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Вкладка User -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <div class="page-header">
                        <h1>User information-page</h1>
                    </div>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">
                            <table class="table table-striped align-middle">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="tableUserBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/adminPage.js"></script>
<script src="/editModal.js"></script>
<script src="/deleteModal.js"></script>
<script src="/addNewUser.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>