<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}"></p>
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getAge()}"></p>
<p th:text="${user.getEmail()}"></p>
<p th:text="${user.getRoles()}"></p>
<p th:text="${user.getPassword()}"></p>

<a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>
<p></p>
<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<p></p>
<a href="/logout">Logout</a>

</body>
</html>