<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<style>table th, table td {padding: 5px;}</style>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>

<tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td> <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}"/></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getRoles()}"></td>
    <td th:text="${user.getPassword()}"></td>
</tr>
    </tbody>
</table>
<a href="/admin/users/new">Create new person</a>
<p></p>
<a href="/logout">Logout</a>

</body>
</html>